body {
  background-color: white;
}

nav{
  /*background-color: rgb(255, 222, 255);*/
  background-color: #fbcfe8;
}

footer{
  /*background-color: rgb(255, 222, 255);*/
  background-color: #fbcfe8;
}