body {
  background-color: white;
}

nav{
  /*background-color: rgb(255, 222, 255);*/
  background-color: #fbcfe8;
}

footer{
  /*background-color: rgb(255, 222, 255);*/
  background-color: #fbcfe8;
  position:relative;
  bottom: 0;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: end;
}